.pri_key{
	display:none;
}
#mainTable{
    width: 100%;
}
#tableHead{
    width: 496px;
}
#tableHead th{
    width: 25%;
}
#innerTable{
    border: none;
}
table {
    border: 1px solid #4b0363;
    background-color: #efffef;
    -webkit-border-radius: 6px;
	-moz-border-radius: 6px;
    border-radius: 6px;
}
table td, table th {
	color: #333;
    padding: 5px;
}

table th {
	font-family: Tahoma;
	font-size: 17px;
	line-height: 20px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-shadow: white 1px 1px 1px;
}
table td {
	line-height: 20px;
	font-family: Tahoma;
	font-size: 14px;
}
table tr{
    border: 1px solid #cbb1d3;
    
}

button, input, select{
	border-radius: 5px;
	padding: 0;
	margin: 0;
}

#scrollingTable{
	overflow: auto;
	height: 400px;
    border: 1px solid #4b0363;
    -webkit-border-radius: 6px;
	-moz-border-radius: 6px;
    border-radius: 6px;

}

td:nth-child(1){
    width: 21%;
}
td:nth-child(2){
    width: 21%;
}
td:nth-child(3){
    width: 21%;
}
td:nth-child(4){
    width: 21%;
}
td:nth-child(6){
    width: 7%;
}
td:nth-child(7){
    width: 9%;
}
td:nth-child(8){
    width: 14px;
}

#newTable{
    width: 100%;
}
